doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="csrf-token", content= csrfToken)
    link(rel="stylesheet", href="/styles/landing.css")
    title Quick Question
    body
      p(id="authflag", hidden) #{authflag}
      div(class="hbox", id="mainframe")
        div(class="vbox", id="container")
          div(class="hbox", id="headerspace")
            div(class="spinner")
          div(class="hbox", id="statspace")
            div(class="vbox", id="author")
              div(class="spinner")
            div(class="vbar")
            div(class="vbox", id="hearts")
              div(class="spinner")
            div(class="vbar")
            div(class="vbox", id="comments")
              div(class="spinner")
            div(class="vbar")
            div(class="vbox", id="share")
              p Share
          div(class="hbar")
          div(class="vbox", id="contentspace")
            div(class="hbox", id="answers")
              div(class="vbox answer")
                img(src="https://cdn.londonandpartners.com/assets/73295-640x360-london-skyline-ns.jpg")
                p London
              div(class="vbox answer")
                img(src="https://imagesvc.timeincapp.com/v3/mm/image?url=http%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2F1488208675%2Ftokyo-japan-FDEALS0217.jpg%3Fitok%3DVpaGmPRS&w=800&q=85")
                p Tokyo
              div(class="vbox answer")
                img(src="https://media.timeout.com/images/103444978/750/422/image.jpg")
                p London
            button Vote
        div(class="vbox", id="menuspace")
          div(class="spinner")
      
      script(src="scripts/landing.js")
      script(src="scripts/fontawesome-all.js")
