doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="csrf-token", content= csrfToken)
    link(rel="stylesheet", href="/styles/landing.css")
    title Quick Question

  body
    div(id="header")
      h1 Quick Question
      div(id="auth-buttons")
        a(id="register-button", href="#register") Register
        a(id="login-button", href="#login") Login
        a(id="logout-button", href="auth/logout") Logout
          
    p(id="loginflag", hidden) #{loginflag}

    div(id="container")
      form(id="register-form", action="/auth/register", method="post")
        input(type="text", placeholder="Email", name="em")
        input(type="password", placeholder="Password", name="pw")
        input(type="hidden", name="_csrf", value= csrfToken)
        button(type="submit") Register

      form(id="login-form", action="/auth/login", method="post")
        input(type="text", placeholder="Email", name="em")
        input(type="password", placeholder="Password", name="pw")
        input(type="hidden", name="_csrf", value= csrfToken)
        button(type="submit") Login

      div(id="new-poll")
        input(type="text", placeholder="Question", id="new-poll-question")
        div(id="new-poll-answers")
          input(type="text", placeholder="Answer 1")
          input(type="text", placeholder="Answer 2")
        button(onclick="newPoll()") Ready

      div(id="poll")
        div(id="poll-header")
          p(id="question")
        ul(id="answers")
        button(id="resultsToggle", onclick="showResults()") View Results

    script(src="scripts/landing.js")
