doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="csrf-token", content= csrfToken)
    link(rel="stylesheet", href="/styles/landing.css")
    title Quick Question
    body
      div(class="hbox", id="mainframe")
        div(class="vbox", id="contentspace")
          div(class="spinner")
        div(class="vbox", id="menuspace")
          div(class="spinner")
      
      script(src="scripts/landing.js")
      script(src="scripts/fontawesome-all.js")
