doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="csrf-token", content= csrfToken)
    link(rel="stylesheet", href="/styles/landing.css")
    title Quick Question

  body
    div(id="header")
      h1 Quick Question:
      button(id="loginout", onclick="loginout()") Login

    div(id="container")
      p(id="landing-poll", hidden) #{poll}
      div(id="login-register")
        form(id="register-form", action="/auth/register", method="post")
          input(type="text", placeholder="Email", name="em")
          input(type="password", placeholder="Password", name="pw")
          input(type="hidden", name="_csrf", value= csrfToken)
          button(type="submit") Register
  
        form(id="login-form", action="/auth/login", method="post")
          input(type="text", placeholder="Email", name="em")
          input(type="password", placeholder="Password", name="pw")
          input(type="hidden", name="_csrf", value= csrfToken)
          button(type="submit") Login

      div(id="poll")
        div(id="poll-header")
          p(id="question")
          p(id="pollid", hidden)
        ul(id="answers")
        button(id="show-results", onclick="showResults()") View Results
        button(onclick="nextPoll()") Next
        div(id="share")
          button(onclick="share()") Share

    script(src="scripts/landing.js")
