doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="csrf-token", content= csrfToken)
    link(rel="stylesheet", href="/styles/landing.css")
    title Quick Question
    body
      p(id="authflag", hidden) #{authflag}
      p(id="pollid", hidden) #{pollid}
      div(class="hbox", id="mainframe")
        div(class="vbox", id="container")
          div(class="hbox", id="headerspace")
            div(class="spinner")
          div(class="hbox", id="statspace")
            div(class="vbox", id="author")
              div(class="spinner")
            div(class="vbar")
            div(class="vbox", id="hearts")
              div(class="spinner")
            div(class="vbar")
            div(class="vbox", id="comments")
              div(class="spinner")
            div(class="vbar")
            div(class="vbox", id="share")
              p Share
          div(class="hbar")
          div(class="vbox", id="contentspace")
            div(class="hbox", id="answers")
              div(class="spinner")
        div(class="vbox", id="menuspace")
          div(class="spinner")
      
      script(src="scripts/landing.js")
      script(src="scripts/fontawesome-all.js")
