doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="csrf-token", content= csrfToken)
    link(rel="stylesheet", href="/styles/loggedin.css")
    title Quick Question

  body
    div(id="header")
      button(onclick="toggleNav()") Menu
      a(href="/") Username

    div(id="container")
      p(id="landing-poll", hidden) #{poll}
      nav(id="nav")
        ul
          li 
            a(href="#profile") My Profile
          li
            a(href="#polls") My Polls
          li
            a(href="/auth/logout") Logout
            
      div(id="profile")
        img
        h1 Name
        h2 Score:
        h2 Member Since:
        h2 Number of Polls
        h2 Number of Votes Recieved
        h2 Number of Votes Given
            
      div(id="new-poll")
        input(type="text", placeholder="Question", id="new-poll-question")
        div(id="new-poll-answers")
          input(type="text", placeholder="Poll Answer")
        button(onclick="addAnswer()") Add Answer
        button(onclick="newPoll()") Submit

      div(id="poll")
        div(id="poll-header")
          p(id="question")
          p(id="pollid", hidden)
        ul(id="answers")
        button(id="show-results", onclick="showResults()") View Results
        button(onclick="nextPoll()") Next
        div(id="share")
          button(onclick="share()") Share

    script(src="scripts/loggedin.js")
