body
  margin: 0
  padding: 0
  display: flex
  flex-flow: nowrap column

ul
  list-style-type: none
  padding: 0

#header
  display: flex
  justify-content: space-between
  background-color: orange

#login-register
  display: none
  justify-content: center
  align-items: center
  background-color: transparentize(black, 0.4)
  position: fixed
  width: 100%
  height: 100%

#register-form
  display: flex
  flex-flow: nowrap column

#login-form
  display: flex
  flex-flow: nowrap column

#container
  background-color: lightblue
  display: flex
  flex-flow: nowrap column

#poll
  background-color: green
  display: flex
  flex-flow: nowrap column
  padding: 1rem
  align-items: center

#poll-header
  display: flex
  justify-content: space-between

#answers
  display: flex
  flex-flow: wrap row

.answer
  background-color: orange
  display: flex
  button
    margin: 0.5rem
    padding: 0.5rem

.progress-bar
  background-color: pink
  width: 100%
  height: 100%
  display: none

.result
  display: none

.answers-revealed
  .answer
    width: 100%
    .progress-bar
      display: block
    .result
      display: block
