body
  background-color: pink
  margin: 0
  padding: 0
  width: 100vw
  height: 100vh
  overflow: hidden

#header
  background-color: blue
  display: flex
  flex-flow: nowrap row
  justify-content: space-between

#register-form
  display: none

#login-form
  display: none
