body
  margin: 0
  padding: 0
  display: flex
  flex-flow: nowrap column

ul
  list-style-type: none
  padding: 0

#header
  display: flex
  justify-content: space-between
  background-color: orange

#container
  background-color: lightblue
  display: flex
  flex-flow: nowrap column

#new-poll
  background-color: blue
  display: flex
  flex-flow: nowrap column
  padding: 1rem

#new-poll-answers
  display: flex
  flex-flow: nowrap column
  padding: 1rem

#poll
  background-color: green
  display: flex
  flex-flow: nowrap column
  padding: 1rem
  align-items: center

#poll-header
  display: flex
  justify-content: space-between

#answers
  display: flex
  flex-flow: wrap row

.answer
  background-color: orange
  display: flex
  button
    margin: 0.5rem
    padding: 0.5rem

.progress-bar
  background-color: pink
  width: 100%
  height: 100%
  display: none

.result
  display: none

.answers-revealed
  .answer
    width: 100%
    .progress-bar
      display: block
    .result
      display: block
